@using Shared.Models
@using Shared.Services
<div class="custom-calendar-item d-flex p-3 justify-content-evenly">
    <div>
        <span><strong>@Date.ToString("dd")/@Date.ToString("dddd")</strong></span>
        <div class="d-flex p-3 flex-column">
            @foreach (var infoItem in schedulingItems)
            {
                <SchedulingItem Info="infoItem" />
            }
        </div>
    </div>
</div>
<style>
    .custom-calendar-item {

        height: 70vh !important;
    @*width:150px!important;*@border-color: black !important;
        border-width: 1px;
        border-style: solid;
    }
</style>
@code {
    [Parameter]
    public required DateTime Date { get; set; }

    private List<SchedulingInfo> schedulingItems { get; set; } = new();

    protected override void OnParametersSet()
    {
        schedulingItems =
        Shared.Services.SchedulingService.MapCSV("wwwroot\\Data\\input.csv").Where(x
        => x.Date.Equals(Date)).ToList()??new();
    }
}