@using SchedulingApp.Shared.Models
@using SchedulingApp.Shared.Services
<div class="custom-calendar-item d-flex p-3">
    <div class="d-flex flex-column">

        <span class="text-center"><strong>@Date.ToString("yyyy")</strong> <strong>@Date.ToString("MMMM")</strong> <strong>@Date.ToString("dd")/@Date.ToString("dddd")</strong></span>
        <div class="d-flex p-3 flex-column">
            @foreach (var infoItem in Items)
            {
                <SchedulingItem Info="infoItem" />
            }
        </div>
    </div>
</div>
<style>
    .custom-calendar-item {
        height: 70vh !important;
        border-color: black !important;
        border-width: 1px;
        border-style: solid;
        min-width: 360px;
    }
</style>
@code {
    [Parameter]
    public required DateTime Date { get; set; }

    private List<SchedulingInfo> Items;

    [Inject]
    ISchedulingService schedulingService { get; set; } 

    protected override void OnParametersSet()
    {
        DateOnly fruit = new DateOnly(Date.Year,Date.Month,Date.Day);
        Items = schedulingService.Schedulings.Where(x => new DateOnly(x.Date.Year,x.Date.Month, x.Date.Day).Equals(fruit)).ToList() ?? new();
    }
}