@using SchedulingApp.Shared.Models
<div class="container custom-container-scheduling-item">
    <span>@Info.Subject</span>
    <div class="d-flex flex-column flex-wrap m-3">
        <span>Teacher: @Info.TeacherInitials</span>
        <span>Date: @Info.Date.ToShortDateString()</span>
        <span>Classroom: @Info.Classroom</span>
    </div>
</div>
<style>
    .custom-container-scheduling-item{
        margin: 5px;
        background-color: blue;
        color:white;
        border-radius: 5px;
        font-weight: 600;
    }
</style>
@code{
    [Parameter]
    public SchedulingInfo Info {get; set;} = new();
}